include MANIFEST.in

include .coveragerc
include COPYING
include didjvu
include didjvu.py
include doc/*.1
include doc/*.txt
include doc/*.xml
include doc/COPYING
include doc/changelog
include private/*
include tests/coverage.txt
recursive-include lib *.py
recursive-include tests *.py
recursive-include tests/data *.bmp *.pgm *.png *.tiff
recursive-include tests/data *.djvu *.iff
recursive-include tests/data *.xmp
